In [1]:
import pandas as pd 
import numpy as np

In [2]:
base = pd.read_csv("dados/iris.csv")

In [3]:
base.shape

(150, 5)

In [7]:
#Mudança da semente para manter os resultados em várias execuções
np.random.seed(2345)
#150 amostras, de 0 e 1, com reposição, probabilidade equivalente
amostra = np.random.choice(a = [0, 1], size = 150, replace = True, p = [0.7, 0.3])

#Tamanho da Amostra
print("Tamanho", len(amostra))

#Tamanho para valores 1 e 0
print("Tamanho para 1:", len(amostra[amostra == 1]))
print("Tamanho para 0:", len(amostra[amostra == 0]))

Tamanho 150
Tamanho para 1: 49
Tamanho para 0: 101

In [8]:
base_final = base.loc[amostra == 0]
base_final.shape

(101, 5)

In [10]:
base_final

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
140           6.7          3.1           5.6          2.4  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica

[101 rows x 5 columns]