In [2]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [4]:
dataset = pd.read_csv("dados/tempo.csv", sep=";")
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [ ]:
#CORRIGINDO DADO CATEGÓRICO APARÊNCIA
#Substituir valores fora do domínio pela a moda (SOL)
agrupado = dataset.groupby(['Aparencia']).size()
#agrupado
dataset.loc[dataset['Aparencia'] == 'menos', 'Aparencia'] = 'sol'
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

In [15]:
dataset['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [24]:
#CORRINGINDO A COLUNA TEMPERATURA PARA DENTRO DO DOMÍNIO
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130)]
mediana = sts.median(dataset['Temperatura'])

dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130), 'Temperatura'] = mediana

#Verificando existencia de NAs
dataset['Temperatura'].isnull().sum()

0

In [34]:
#Corringo umidade
#Verficicando o domínimo
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100)]

#Verificando se tem null
dataset['Umidade'].isnull().sum()

mediana = sts.median(dataset['Umidade'])
mediana

#Removendo NA
dataset['Umidade'].fillna(mediana, inplace=True)

#Verificando se ainda tem null
dataset['Umidade'].isnull().sum()

#Substituir valores fora do domínio pela mediana
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100), 'Umidade'] = mediana 

#Verficicando ainda tem fora domínimo
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [52]:
#Verificando se ta tudo nos dominios
agrupamento =  dataset.groupby(['Vento']).size()
agrupamento

#Verficiando existem de nulos
dataset['Vento'].isnull().sum()

#Removendo os Nas
dataset['Vento'].fillna(False, inplace=True)

#Verficiando ainda existem de nulos
dataset['Vento'].isnull().sum()

0

In [58]:
#Verficiando o domínipo
agrupamento = dataset.groupby(['Jogar']).size()
agrupamento

#Vericicando NA
dataset['Jogar'].isnull().sum()

0